// ==========================================================================
// APP
// ========================================================================== 
// Main file for importing component styles


@import "compass";
@import "breakpoint"; 

@import "config/breakpoints";

@import "base/reset";

@import "utilities/utils"; // Handy functions

@import "components/hierarchy"; // Typesetting
@import "components/links";

$baseUnit: 25;

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
}

* + * {
    @include remCalc(margin-top, $baseUnit);

    @include respond-to("large and above"){
        @include remCalc(margin-top, 30);
    }
}

html {
    font-size: 100%;
}

body {
    // Lazy clearfix 
    float: left;
    width: 100%;
    color: #444;
    font: 400 110% "Nocturno Regular 25", Georgia, serif;
    line-height: 1.55;
    border-top: 15px solid #111;
    border-bottom: 15px solid #fff;

    &.is-darkMode {
        color: #aaa;
        border-bottom: 15px solid #252525;
    }
    
    // View MQ helper
    &:before {
        @include typeface("Small caps");
        content: "small only";
        position: fixed;
        left: 15px;
        bottom: 0;
        padding: 5px 10px;
        opacity: .7;
        background-color: #ddd;

        @include respond-to("small and above"){
            content: "small and above";
        }

        @include respond-to("medium and above"){
            content: "medium and above";
        }

        @include respond-to("large and above"){
            content: "large and above";
        }

        @include respond-to("between large and largest"){
            content: "between large and largest";
        }
        
        @include respond-to("largest only"){
            content: "largest only";
        }
    }
}

// Dunno if this is a good idea, maybe useful because I’m using
// the lobotomized owl selector
.u-killSpacing {
    margin-top: 0;
}

::selection {
  background: rgba(61,153,112, .5);
  color: rgba(0,0,0,.8);

    .is-darkMode & {
        color: rgba(255,255,255,.5);
    }
}

::-moz-selection {
  background: rgba(61,153,112, .5);
  color: rgba(0,0,0,.8);
    .is-darkMode & {
        color: rgba(255,255,255,.5);
    }
}

em, 
small,
blockquote > p,
cite,
dfn,
i,
q {
    @include typeface("Regular italic");
}

mark {
    background-color: rgb(255,220,0);
    background-color: rgba(255,220,0,.5);
    font-weight: normal;
    color: #333;
}

.caps, 
abbr {
    @include typeface("Small caps");
}

b,
strong {
    @include typeface("Book");
}

acronym {
    text-transform: normal;
}

// Wrapper that gives padding to elements
.Container {
    float: left;
    width: 100%;
    transition: background-color 0.2s;
    background-color: #efefef;
    margin: 0;
    @include remCalc(padding, 0, 15, 50, 15);

    @include respond-to("medium and above"){
        border-left: 15px solid #fff;
        border-right: 15px solid #fff;
        @include remCalc(padding, 0, 50, 100, 50);
    }

    @include respond-to("large and above"){
        @include remCalc(padding, 0, 60, 100, 60);
    }

    @include respond-to("largest only"){
        @include remCalc(padding, 0, 70, 100, 70);
    }

    .is-darkMode & {
        background-color: #202020;
        border-color: #252525;
        border-top: none;
        border-bottom: none;
        transition: border-color .2s ease-out;
    }
}

.Wrapper {
    margin: 0 auto;
    @include remCalc(max-width, 440);
    

    @include respond-to("small and above"){
        @include remCalc(max-width, 485);
    }

    @include respond-to("medium and above"){
        max-width: 33em;
    }

    @include respond-to("large and above"){
        max-width: 37em;
    }

    @include respond-to("largest only"){
        @include remCalc(max-width, 745);
    }
}

.Longform {    
    h2 {
        @extend .caps;
        @include remCalc(font-size, 19);
        text-align: center;
        margin-top: 200px;
        margin-bottom: 0;
        font-weight: normal;
    }

    > p {
        @include remCalc(font-size, 19);
        -webkit-hyphens:auto;
        -webkit-hyphenate-limit-after:2;
        -webkit-hyphenate-limit-before:3;
        hyphens: auto;

        @include respond-to("small and above"){
            @include remCalc(font-size, 19);
        }
    
        @include respond-to("between large and largest"){
            @include remCalc(font-size, 20); 
        }

        @include respond-to("largest only"){
            @include remCalc(font-size, 21);
        }
    }
}


// Drop cap
.Longform > p:first-of-type:first-letter, 
.Longform h2 + p:first-letter {
    @include remCalc(font-size, 55);
    @include remCalc(margin-top, 18);
    @include typeface("Display");
    float: left;
    line-height: .4;
    padding-right: 5px;
    transition: color 5s;
    color: #333;

    @include respond-to("medium and above"){
        @include remCalc(margin-top, 19);
        @include remCalc(font-size, 60);
    }

    @include respond-to("largest only"){
        @include remCalc(margin-top, 22);
        @include remCalc(font-size, 65);
    }

    .is-darkMode & {
        color: #B8B8B8;
    }
}

// initial styles for the header module
.Header {
    margin-bottom: 200px;
    margin-top: 60px;
}

.Header-title {
    @include remCalc(margin-bottom, 5);
    color: #333;
    line-height: 1;

    .is-darkMode & {
        color: #B8B8B8;
    }
}

// lines above and below
.Island--burger {
    @include remCalc(padding, 5, 0);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    .Longform + & {
        @include remCalc(margin-top, 50);
    }

    .is-darkMode & {
        transition: border-color .05s ease-out; 
        border-top: 1px solid #353535;
        border-bottom: 1px solid #353535;
    }
}

// the bar that separates the title from the illustration
.MetaInfo {
    @include typeface("Regular italic");
    @include remCalc(font-size, 17);
    margin-top: 0;
    color: #888;
}

/*/////////////////////////////////////////////////*/
/* NIGHT TOGGLER */
/*/////////////////////////////////////////////////*/
.NightToggler {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 160px;

    &:before {
        @extend .caps;
        content: "Night mode";
        vertical-align: middle;
        float: left;
        margin-top: 3px; 
        font-size: 16px;
        color: #888;
    }
}

.NightToggler-element {
    display: none;
}

.NightToggler-label {
    float: right;
    @include hideText();
}

.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    color: #EFEFEF;
    user-select: none;
}

input.cmn-toggle + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle + label:before,
input.cmn-toggle + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.cmn-toggle + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.2s;
}

/* the circle */
input.cmn-toggle + label:after {
  width: 28px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.15s;
}

input.cmn-toggle:checked + label:before, 
input.cmn-toggle:checked + label {
  background-color: #3D9970;
}
input.cmn-toggle:checked + label:after {
  margin-left: 30px;
}
