// ==========================================================================
// APP
// ========================================================================== 
// Main file for importing component styles


@import "compass";
@import "breakpoint"; 

@import "config/breakpoints";

@import "base/reset";

@import "utilities/utils"; // Handy functions

@import "components/hierarchy"; // Typesetting
@import "components/links";

$baseUnit: 25;

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

* + * {
    @include remCalc(margin-top, $baseUnit);

    @include respond-to("large and above"){
        @include remCalc(margin-top, 30);
    }
}

@keyframes opacityChange {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

html {
    opacity: 0;
    font-size: 100%;
    animation: opacityChange .4s ease-in;
    animation-fill-mode: forwards;
}


body {
    // Lazy clearfix 
    float: left;
    width: 100%;
    //
    color: #444;
    font: 400 110% "Nocturno Regular 25", Georgia, serif;
    line-height: 1.55;
    border-top: 15px solid #fff;
    border-bottom: 15px solid #fff;

    &.is-darkMode {
        color: #aaa;
        border-top: 15px solid #252525;
        border-bottom: 15px solid #252525;
    }
    
    // View MQ helper
    &:before {
        @include typeface("Small caps");
        content: "small only";
        position: fixed;
        left: 15px;
        bottom: 0;
        padding: 5px 10px;
        opacity: .7;
        background-color: #ddd;

        @include respond-to("small and above"){
            content: "small and above";
        }

        @include respond-to("medium and above"){
            content: "medium and above";
        }

        @include respond-to("large and above"){
            content: "large and above";
        }

        @include respond-to("between large and largest"){
            content: "between large and largest";
        }
        
        @include respond-to("largest only"){
            content: "largest only";
        }

        @include respond-to("gigantic"){
            content: "gigantic";
        }

    }
}

// Dunno if this is a good idea, maybe useful because I’m using
// the lobotomized owl selector
.u-killSpacing {
    margin-top: 0;
}

::selection {
    background: rgba(61,153,112, .35);
    color: #333;

    .is-darkMode & {
        background-color: rgba(61,153,112,0.3);
        color: rgba(255,255,255,.7);
    }
}

::-moz-selection {
    background: rgba(61,153,112, .35);
    color: #333;

    .is-darkMode & {
        background-color: rgba(61,153,112,0.3);
        color: rgba(255,255,255,.7);
    }
}

em, 
small,
cite,
dfn,
i,
q {
    @include typeface("Regular italic");
}

q, 
blockquote {
    position: relative;

    &:before {
        content: open-quote;
        position: absolute;
        left: -7px;
    }
}

mark {
    background-color: rgb(255,220,0);
    background-color: rgba(255,220,0,.3);
    font-weight: normal;
    color: #444;
}

.caps, 
abbr {
    @include typeface("Small caps");
}

b,
strong {
    @include typeface("Book");
    color: #222;
}

acronym {
    text-transform: normal;
}

.Container {
    float: left;
    width: 100%;
    background-color: #efefef;
    transition: background-color .5s ease-out;
    margin: 0;
    @include remCalc(padding, 0, 15, 50, 15);

    @include respond-to("medium and above"){
        border-left: 15px solid #fff;
        border-right: 15px solid #fff;
        @include remCalc(padding, 0, 50, 100, 50);
    }

    @include respond-to("large and above"){
        @include remCalc(padding, 0, 60, 100, 60);
    }

    @include respond-to("largest only"){
        @include remCalc(padding, 0, 70, 100, 70);
    }

    .is-darkMode & {
        background-color: #202020;
        border-color: #252525;
        border-top: none;
        border-bottom: none;
        transition: all .1s ease-out;
    }
}

// In lieu of a grid system this will do for now.
.Wrapper {
    margin: 0 auto;
    @include remCalc(max-width, 440);
    

    @include respond-to("small and above"){
        @include remCalc(max-width, 485);
    }

    @include respond-to("medium and above"){
        max-width: 33em;
    }

    @include respond-to("large and above"){
        max-width: 37em;
    }

    @include respond-to("largest only"){
        @include remCalc(max-width, 715);
    }

    @include respond-to("gigantic"){
        @include remCalc(max-width, 765);
    }
    
    @include respond-to("widescreen"){
        @include remCalc(max-width, 780);
    }
}

.Longform {    
    h2 {
        @extend .caps;
        @include remCalc(font-size, 19);
        text-align: center;
        margin-top: 200px;
        margin-bottom: 0;
        font-weight: normal;
    }

    p {
        @include typeface("Regular");
        -webkit-hyphens:auto;
        -webkit-hyphenate-limit-after:2;
        -webkit-hyphenate-limit-before:3;
        hyphens: auto;
        
        @include respond-to("small and above"){
            @include remCalc(font-size, 19);
        }

        @include respond-to("medium and above"){
            line-height: 1.55;
        }

        @include respond-to("between large and largest"){
            @include remCalc(font-size, 20);
            line-height: 1.5; 
        }

        @media only screen and (max-device-width: 768px) {
            line-height: 1.55;
        }

        @include respond-to("largest only"){
            @include remCalc(font-size, 20);
            line-height: 1.5;
        }

        @include respond-to("gigantic"){
            @include remCalc(font-size, 22);
        }
    }
    
    // DROP CAPS
    & > p:first-of-type:first-letter, 
    & h2 + p:first-letter {
        @include remCalc(font-size, 55);
        @include remCalc(margin-top, 18);
        @include typeface("Display");
        float: left;
        line-height: .4;
        padding-right: 5px;
        color: #333;

        @include respond-to("medium and above"){
            @include remCalc(margin-top, 19);
            @include remCalc(font-size, 60);
        }

        @include respond-to("between large and largest"){
            @include remCalc(font-size, 62);
        }

        @include respond-to("largest only"){
            @include remCalc(margin-top, 20);
            @include remCalc(font-size, 59);
        }

        .is-darkMode & {
            color: #B8B8B8;
        }
    }

    blockquote p {
        @include typeface("Regular italic");
    }
}

hr {
    border: none;
    border-bottom: 1px solid #ccc;
    @include remCalc(margin-bottom, $baseUnit);
}


// initial styles for the header module
.Header {
    margin-bottom: 200px;
    margin-top: 60px;
}

.Header-title {
    @include remCalc(margin-bottom, 5);
    color: #333;
    line-height: 1;

    .is-darkMode & {
        color: #B8B8B8;
    }
}

// lines above and below
.Island--burger {
    @include remCalc(padding, 5, 0);
    transition: border-color .3s ease-out; 
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #777;

    .Longform + & {
        @include remCalc(margin-top, 50);
    }

    p {
        margin: 0;
    }

    .is-darkMode & {
        color: #888;
        transition: border-color .05s ease-out; 
        border-top: 1px solid #444;
        border-bottom: 1px solid #444;
    }
}

// the bar that separates the title from the illustration
.MetaInfo {
    @include typeface("Regular italic");
    @include remCalc(font-size, 17);
    margin-top: 0;
    color: #888;
}

/*/////////////////////////////////////////////////*/
/* NIGHT TOGGLER */
/*/////////////////////////////////////////////////*/
.NightToggler {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 160px;

    &:before {
        @extend .caps;
        content: "Night mode";
        vertical-align: middle;
        float: left;
        margin-top: 3px; 
        font-size: 16px;
        color: #888;
    }

    .no-js & {
        opacity: 0;
    }
}

.NightToggler-element {
    display: none;
}

.NightToggler-label {
    float: right;
    @include hideText();
}

.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    color: #EFEFEF;
    user-select: none;
}

input.cmn-toggle + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle + label:before,
input.cmn-toggle + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.cmn-toggle + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.2s;
}

/* the circle */
input.cmn-toggle + label:after {
  width: 28px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.15s;
}

input.cmn-toggle:checked + label:before, 
input.cmn-toggle:checked + label {
  background-color: #3D9970;
}
input.cmn-toggle:checked + label:after {
  margin-left: 30px;
}
