* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

* + * {
    margin-bottom: 40px;
}

html {
    font-size: 100%;
}

body {
    float: left;
    width: 100%;
    font-family: "Nocturno Regular 25";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 21px;
    padding: 0;
    margin: 0;
    border-top: 15px solid #111;
    border-bottom: 15px solid #111;
}

h1 {
    margin-bottom: 0;
    font-family: "Nocturno Display Medium 3";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 60px;
}

em, small, .Heading-sub {
    font-family: "Nocturno Regular Italic 24";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
}

.Heading-sub {
    color: #888;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 17px;
}

.caps {
    font-family: "Nocturno Regular 26";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    text-transform: lowercase;
}

.Container {
    float: left;
    width: 100%;
    padding: 70px;
    margin: 0;
    transition: all 0.2s;
}

.Container-dark {
    background-color: #202020;
    color: #cecece;
    border: 15px solid #282828;
    border-top: none;
    border-bottom: none;
}

.Container-light {
    border: 15px solid #fff;
    border-top: none;
    border-bottom: none;
    background-color: #efefef;
    color: #222222;    
}

.Longform {
    max-width: 36em;
    margin: 0 auto;
    
    h2 {
        text-align: center;
        margin-top: 200px;
    }
}

.Longform p:first-of-type:first-letter {
    font-size: 3.9rem;
    float: left;
    margin-top: 22px;
    line-height: .4;
    padding-right: 5px;

    .Container-dark & {
        color: white;
    }

    .Container-light & {
        color: #000;
    }
}


p {
    line-height: 1.5;
    /* reset */
    padding: 0;
}

/*/////////////////////////////////////////////////*/
/* CHECKLIST TOGGLER */
/*/////////////////////////////////////////////////*/
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    color: #EFEFEF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.3s;
}

/* the circle */
input.cmn-toggle-round + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}
